---
title : About page
layout : base.njk
---

<div class="container">
    <h1> This is an about page </h1>
    <p> It was made using HTML, CSS and JavaScript. And served as a JamStack site.</p>
</div>